* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', monospace;
}

body {
  background: #050505;
  color: #00ff9c;
  height: 100vh;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tagline {
  margin-top: 10px;
  color: #aaa;
  letter-spacing: 2px;
}

/* GLITCH TEXT */
.glitch {
  font-size: 4rem;
  position: relative;
  color: #00ff9c;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  top: -2px;
  color: #ff003c;
  animation: glitch 2s infinite;
}

.glitch::after {
  top: 2px;
  color: #00c3ff;
  animation: glitch 1.5s infinite;
}

@keyframes glitch {
  0% { clip-path: inset(0 0 90% 0); }
  50% { clip-path: inset(10% 0 10% 0); }
  100% { clip-path: inset(80% 0 0 0); }
}

/* BUTTONS */
.buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  border: 1px solid #00ff9c;
  text-decoration: none;
  color: #00ff9c;
  letter-spacing: 2px;
  transition: 0.3s;
}

.btn:hover {
  background: #00ff9c;
  color: #000;
  box-shadow: 0 0 20px #00ff9c;
}

.discord {
  border-color: #5865f2;
  color: #5865f2;
}

.discord:hover {
  background: #5865f2;
  box-shadow: 0 0 20px #5865f2;
  color: white;
}
